<div style="height: 150px;width: 90%;background-color:cornsilk;padding: 10px;border: 1px solid #ccc;">

    <h2>Child Component</h2>

     Common MSG is <b style="color: dodgerblue;">{{similarMsg}}</b> <i style="background-color: yellow;">(Common message for all component)</i>
     <br>

     parent to child message is <b style="color: green;"> {{loggedUName}}</b> <i style="background-color: yellow;">(Parent component to child component)</i>

     <br>
     <button (click)="TransferMsg()">Submit MSG</button>     
     <button (click)="NewMsg()">New MSG</button>

</div>
